body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-image {
  width: 15% !important;
  display: block !important;
  margin: 0 auto !important;
}

.log-in {
  margin: 1%;
}

.welcome {
  margin-top: 1%;
}

.dashboard, .pool {
  margin: 1% 32%;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.leaders-board {
  margin: 1% 30%;
}

.leader {
  margin-top: 2%;
}

.leader-name {
  margin: 4% 2%;
}

.leader-info {
  padding-left: 2%;
}

.new-question {
  margin: 1% 30%;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.app-navbar {
  margin-top: 2px;
}

.log-out {
  margin-left: 1%;
}

.question {
  text-align: center;
  margin-top: 2% !important;
}

.card-img-cont {
  display: flex !important;
}

.avatar {
  margin: auto !important;
}

.score-cnt {
  text-align: center;
  display: flex;
}

.score {
  margin: auto;
}

.score h4 {
  padding-bottom: 10%;
}

.place-cnt {
  text-align: center !important;
  display: flex;
}

.place {
  margin: auto;
  font-size: 20px;
}

.new-qst-submit {
  text-align: center;
  margin-top: 2%;
}

/* NotFound Page  */

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}